<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Esri.ArcGISRuntime.ExampleApps.DataCollection.WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Esri.ArcGISRuntime.ExampleApps.DataCollection.WPF.Properties.Settings>
            <setting name="OAuthRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ConnectivityMode" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SyncDate" serializeAs="String">
                <value />
            </setting>
        </Esri.ArcGISRuntime.ExampleApps.DataCollection.WPF.Properties.Settings>
    </userSettings>
</configuration>